/** @format */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  background-color: rgb(3, 3, 3);
}
.backrImg img {
  opacity: 0.2;
}

main {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.form {
  display: inline-block;
  padding-left: 50px;
}
h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
}
.box {
  position: relative;
  position: fixed;
  left: 600px;
  top: 300px;
  padding-top: 15px;
  padding-bottom: 20px;
  background-image: url("./img/Log_Bckgrn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  border-radius: 15px;
  border: solid;
  border-color: rgb(32, 27, 123);
  border-width: 2px;
}
input {
  width: 120%;
  height: 25px;
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px 7px;
}
.login {
  margin-top: 15px;
  border-radius: 5px;
  padding: 8px 15px;
  color: #0e0b0b;
  font-size: 12px;
}
#email,
#pasword {
  color: #d5d1d1;
  font-size: 12px;
}
